:root{
    padding: 0;
    margin: 0;
    line-height: 0;
    --bg-color:#0d202c;
    --text-color: #dee0e4;
    --button-color:#0c4b97;
    --form-bg:#0c4a6e;
    --hr-color:#64748b;
    --card-bg:rgb(33, 45, 56);
    font-size: 15px;
    
}
*{
    padding: 0;
    margin: 0px;
    line-height: 0;
    
}

.colorWhite{
    color: var(--text-color);
}

.bookCard h3, .bookCard h2, .bookCard .button{
    
    margin-top: 1.7rem;
} 
.booklist{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0rem;
    gap: 20px;

}
p{
    font-size: 1rem;
}
.flex{
    display: flex;
    gap: 10px;
}
.bookCard{
    display: flex;
    gap: 10px;
    padding: 0.5rem 1.5rem;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border-radius:20px ;
    background-color: var(--card-bg);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 50px 0px;
}
.margin{
    margin: 0px 20% ;
}

.floating{
position: absolute;
    right: 50px;
    bottom: 50px;
}
.button{
    background-color: var(--button-color);  
    width: fit-content;
    padding: 30px 20px;
    border-radius: 60px;
}
.snap-right{
    position:fixed;
    right: 10px;
}

.addBookForm>.snap-right{
    background-color: var(--bg-color);
    color: var(--text-color);
}


label{
    display: inline-block;
    margin: 1rem 0.2rem;
    color: var(--text-color);
}
input{

    margin: 1rem 0rem 0px 1rem;
    height: 2rem;
    width: 70%;
    border-radius: 20px;
    padding: 1rem;
    border: 1px solid var(--bg-color);
    color: var(--text-color);
    background-color: var(--bg-color);
}

.BookForm{
   display: none; 
}

input:invalid{
    border:1px solid red;
}
.read{
    background-color: green;
}

.unread{
    background-color: red;
}

.hide{
    display: none;
}

.bookformStyle{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    right: 0;
    padding: 1rem 0.2rem;
    width: 20%;
    height: 100vh;
    background-color: var(--form-bg);
    color: var(--bg-color);
    }

h1{
    margin: 30px 0px;
    position: relative;
    right: 0px;
    left: 0px;
}

hr{
    color:var(--hr-color);
    
    
}